@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Welcome">
    <label for="FirstName">First Name:</label><br />
    <input type="text" id="FirstName" name ="FirstName" /><br /><br />

    <label for="LastName">Last Name:</label><br />
    <input type="text" id="LastName" name="LastName" /><br /><br />

    <label for="Email">E-Mail Address:</label><br />
    <input type="text" id="Email" name="Email" placeholder="johndoe@example.com" /><br /><br />

    <label for="Password">Create A Password:</label><br />
    <input type="password" id="Password" name="Password"/><br /><br />

    <input type="submit" />
</form>
